APP_ENV=
# DB Config
DATABASE_HOST=127.0.0.1
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_POOL=5

DATABASE_STAGING_HOST=127.0.0.1
DATABASE_STAGING_PORT=
DATABASE_STAGING_NAME=
DATABASE_STAGING_USERNAME=
DATABASE_STAGING_PASSWORD=
DATABASE_STAGING_POOL=5

DATABASE_PRODUCTION_HOST=127.0.0.1
DATABASE_PRODUCTION_PORT=
DATABASE_PRODUCTION_NAME=
DATABASE_PRODUCTION_USERNAME=
DATABASE_PRODUCTION_PASSWORD=
DATABASE_PRODUCTION_POOL=5